@tailwind base;
@tailwind components;
@tailwind utilities;


/* Pastikan untuk menambahkan gaya CSS sesuai kebutuhan */
.slider-container {
    position: relative;
    overflow: hidden;
    width: 100%;
  }
  
  .slider {
    display: flex;
    transition: transform 0.3s ease;
  }
  
  .slider img {
    width: 100%;
    height: auto;
  }
  
  .prev-button,
  .next-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
  }
  
  .next-button {
    right: 0;
  }

  
  
  /* Jika ingin menambahkan tampilan tombol yang lebih baik, sesuaikan gaya di sini */
  